[submodule "thirdparty/small_gicp"]
	path = thirdparty/small_gicp
	url = git@github.com:SupaVision/small_gicp.git
[submodule "thirdparty/torchimize"]
	path = thirdparty/torchimize
	url = git@github.com:SupaVision/torchimize.git
[submodule "thirdparty/pixloc"]
	path = thirdparty/pixloc
	url = git@github.com:SupaVision/pixloc.git
[submodule "thirdparty/gsplat"]
	path = thirdparty/gsplat
	url = git@github.com:SupaVision/gsplat.git
[submodule "thirdparty/SplaTAM"]
	path = thirdparty/SplaTAM
	url = git@github.com:spla-tam/SplaTAM.git
